.theme {
  height: 100%;
  width: 100%;
}

.header {
  background-color: darkgrey;
  padding: 10px;
}

.main {
    padding: 10px;
  display: flex;
  flex-direction: column;
}

.searchContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.searchInputText {
    margin-right: 5rem;
    width: 100rem;
    padding: 10px;
}

.searchButton {
    padding: 10px;
}

.resultContent {
    padding-left: 10rem;
    padding-right: 10rem;
}

.answer {
    background-color: white;
    padding: 2.5rem 10rem;
}

.answerLightbul {
    padding-right: 2rem;
}

.answerTable {
    width: 100%;
    border-collapse: collapse;
}

.passageTableRow {
    padding: 10px;
}

.passageTableRowTitle {
    padding: 10px;
}

.passageTableRowEntity {
    padding: 10px;
}

.passageAccordionHeaderDocument {

}

.passageAccordionHeaderScore {

}

.passageAccordionBody {

}
